#block-adchallenge-content {
  @include flex(column, center, center);

  .views-element-container,
  .view-frontpage {
    width: 100%;
  }
  .views-element-container {
    max-width: $contentWidth;
  }
  .view-content {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    justify-items: center;
    margin-top: $paddingContentTopBottom;
  }
}
#block-adchallenge-content {
  max-width: $contentWidth;
  margin: 0 auto;
}
#block-adchallenge-content > h2 {
  @include underline();
  align-self: flex-start;
}

@media (max-width: $breakpoint-tablet) {
  .views-element-container {
    max-width: $contentTabletWidth !important;
  }
  #block-adchallenge-content {
    max-width: $contentTabletWidth;
    margin: 0 auto;
  }
  .view-content {
    grid-template-columns: auto auto !important;
    grid-template-rows: auto auto;
    justify-content: center !important;
    gap: 5rem 3vw !important;
  }
}

@media (max-width: $breakpoint-mobile) {
  #block-adchallenge-content {
    max-width: 310px;
    margin: 0 auto;
  }
  .view-content {
    grid-template-columns: auto !important;
    grid-template-rows: auto auto auto;
  }
}
