$red: #ff5252;
$blue: #0097a7;
$darkBlue: #161e21;
$white: #ffffff;
$black: #101010;
$lightGrey: #d4d4d4;
$mediumGrey: #949494;

$transitionSpeed: 0.3s;

$contentWidth: 1000px;
$contentTabletWidth: 650px;

$paddingContentTopBottom: 7rem;

$breakpoint-tablet: 1024px;
$breakpoint-mobile: 670px;

$paddingTablet: 2rem;
